*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial;
  background-color: rgb(250, 250, 250);
}

button,
input {
  font-size: 1em;
  font-family: Arial;
}

label {
  font-weight: 900;
}

input {
  border: 2px solid transparent;
  border-radius: 6px;
  padding: .4em .8em;
  background-color: #E2E8F0;
}

input:focus {
  background-color: #FFFFFF;
  border: 2px solid #CBD5E0;
  outline: 0;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #FFFFFF;
  padding: 10px;
}

#add-btn{
  background: #d9534f;
  box-shadow: inset 0 -3px 0 0 #92100b;
}


#sub-btn{
  background: #5cb85c;
  box-shadow: inset 0 -3px 0 0 #128112;
}

button:active {
  box-shadow: none;
  transform: translateY(3px);
}

table {
  width: 100%;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.total {
  font-size: 150%;
}

form {
  margin-top: 25px;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}

.transaction-buttons {
  margin-top: 25px;
}
